body{
  margin:0px;
}
h1{
  text-align: center;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}
.navbar ul{
  list-style-type: none;
  background-color: blue;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background color: light blue;
}
.navbar li{
  float: left;
}
body {
            font-family: Courier New, Courier, monospace;
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #107AB0;
            overflow-x: hidden;
            position: relative;
        }
        h1 {
            color: #FFF;
            text-align: center;
            position: relative;
            z-index: 10;
        a {
            color: #FFF;
            text-align: center;
            position: relative;
            z-index: 10;
        }
        }
        h2 {
            color: #FFF;
            href-align: center;
            position: relative;
            z-index: 10;
          text-align: center;
        }
        p {
            color: #CCC;
            line-height: 1.6;
            text-align: center;
            position: relative;
            z-index: 10;
        }
body {
    background-image: url('New board.png');
    background-size: cover;         
    background-position: center;   
    background-repeat: no-repeat;    
    background-attachment: fixed;    
}

  
  
  
