body{
  margin:0px;
}
h1{
  text-align: left;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}
.navbar ul{
  list-style-type: none;
  background-color: blue;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background color: light blue;
}
.navbar li{
  float: left;
}
body {
            font-family: Courier New, Courier, monospace;
            max-width: 800px;
            margin: 50px;
            padding: 0px;
            background-color: #107AB0;
            overflow-x: hidden;
            position: relative;
        }
        h1 {
            color: #FFF;
            position: relative;
            z-index: 10;
            left: 10px
            top: 50px
        a {
            color: #FFF;
            position: relative;
            z-index: 10;
            left: 10px;
            top: 50px;
        }
        }
        h2 {
            color: #FFF;
            href-align: left;
            position: relative;
            z-index: 10;
            left: 10px;
            top: 50px;
        }
        p {
            color: #CCC;
            line-height: 1.6;
            position: relative;
            z-index: 10;
            left: 10px;
            top: 50px;
        }
body {
    background-image: url('New board (2).png');
    background-size: cover;         
    background-position: center;   
    background-repeat: no-repeat;    
    background-attachment: fixed;    
}

.insta-outside {
  position: fixed;  
  right: 20px;       
  top: 200px;        
  z-index: 9999;     
}

.insta-outside iframe,
.insta-outside blockquote {
  max-width: none !important;  
}




  
